.wrap{
  margin:10px;   
  display:flex;
  flex-direction:column;
  
}
.buttonWrap{      
  margin:1em auto;
}
.buttonsSettinsWrap{
  background-color :lightgray;
  text-align:center;
  display :flex;
  justify-content: center;
     margin: 1em auto;
   border-radius:25px;
  flex-wrap:wrap;
  min-width:90%;
}
span{
  margin:0.1em;
  border: 1px solid black;
  border-radius:50%;
  padding:.51rem;
  margin:1rem;
 
}
.inputWrap{
  
  margin:1em auto;
}
input[type=text]{
  border-radius:15px;
  padding:1em;
  outline:none;
  word-wrap:wrap;
  background-color:lightgrey;
  width:70px;
  text-align:center;
}
input[type=text]:focus {
 width: 100%;
}
button{
  padding: 0.75rem 1.55rem;
  border-radius:10px;
  cursor:pointer;
  margin:1em;
}

.dirk{  
  
  margin:1em;
  background-color:#EE8197; 
  display:flex;
  outline:none;
  border : 1px solid black;
  border-radius:5px;
}
.dirks{  
  
  margin:1em;
  background-color:lightblue; 
  display:flex;
  outline:none;
}
.left{
  
  width:30%;
  display:flex;
  justify-content:center;
  align-items:center;
 
  padding:1em;
}
.right{   
  flex-direction:column;
  justify-content:space-around
  
}
.circle{

  border:5px solid black;
     border-radius:50%;
  padding:2rem

}
p{  
  padding:1em;
 
  border:2px solid green;
    word-wrap:break word;
  
  margin:1em;
     overflow :auto;
}
.btn{   
  text-align:center;
  margin:1em
}
.bigWrap{
  display:flex;
  flex-direction:column;
  max-width:500px;
  background-color :whitesmoke;
  border-radius :15px;
  margin:0 auto;
}

@media only screen and (max-width: 450px) {
 body {
   background-color: lightblue;
 }
  .dirk{
     border:2px solid black; 
     flex-direction:column;
     justify-content:center;
  }
  .dirks{
    border:2px solid black; 
    flex-direction:column;
    justify-content:center;
 }
  p{
     margin:1rem;
     text-align:center;
     width:100%;
     padding:1rem;
     width:70%;
     margin:1rem auto;
  }
  .left{
  padding:1rem;
     margin:0 auto;
  }
  .buttonsSettinsWrap{    
     width:70%;     
  }
}