.superWrap {
  display: flex;
  flex-direction: column;
  min-width: 40%;  
  border-radius: 15px;
  margin: 0rem auto;
  max-height: 90vh;
  padding: 1rem;
  border: double 5px transparent;
  box-shadow: inset 2.91px 2.91px 10px #D45E9D, inset -2.91px -2.91px 10px #FE70BD;  
  background-image: linear-gradient(110deg, rgba(221, 221, 221, 0.178), rgba(136, 136, 136, 0.212));
  opacity: 0.9; 
 
}
.bigWrap{
  display: flex;
  flex-direction: column;
  min-width: 40%;  
  border-radius: 15px;
  margin: 3.2rem auto;
  max-height: 90vh;  
  border: double 5px transparent;
  box-shadow: inset 2.91px 2.91px 10px #D45E9D, inset -2.91px -2.91px 10px #FE70BD;  
  background-image: linear-gradient(110deg, rgba(221, 221, 221, 0.103), rgba(136, 136, 136, 0.062));
  opacity: 0.9;  
}
.wrap {
  margin: 10px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow: scroll;
  overflow-x: hidden;
  max-height: 420px;
  border: double 5px transparent;
  box-shadow: inset 2.91px 2.91px 15px #D45E9D, inset -2.91px -2.91px 10px #FE70BD;
  background-image: linear-gradient(110deg, rgba(221, 221, 221, 0.075), rgba(136, 136, 136, 0.116));
  opacity: 0.9;
  
  padding: 1rem;
  border-radius: 15px;
  width: 80%;
  margin: 0 auto;
}


.buttonWrap {
  margin: 0.5rem auto;
  border: double 5px transparent;  
  box-shadow: inset 2.91px 2.91px 15px #D45E9D, inset -2.91px -2.91px 10px #FE70BD;
  padding: 1rem;
  display: flex;
  border-radius: 15px;

}



input[type=text] {
  border-radius: 15px;
  padding: 1rem;
  outline: none;
  word-wrap: wrap;
  background-color: lightgrey;
  height: 3rem;
  text-align: center;
  margin: 5px auto;
  background-color: rgb(170, 192, 231);
  font-size: 1.4rem;
}

input[type=text]:focus {

  margin: 0 auto;
  height: 3rem;
}

.buttonsSettinsWrap {
 /* background-color: rgb(216, 205, 205);*/
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .5em auto;
  border-radius: 15px;
  flex-wrap: wrap;
  min-width: 80%;
  padding: 1.5rem;
  border: double 5px transparent;
   box-shadow: inset 2.91px 2.91px 10px #D45E9D, inset -2.91px -2.91px 10px #FE70BD;
  
}

span {

  border: 1px solid lightgray;
  border-radius: 10px;
  padding: .51rem;
  margin: 1rem;
  
  background-size: 20% ;
  background-repeat: no-repeat;
  background-position: center right; 
}


.circle {
  border: 5px solid rgb(201, 198, 198);
  border-radius: 50%;
  padding: 1.5rem;
  margin: 1rem;
}

p {
  padding: 0.1rem;
  border: 1px solid rgb(0, 0, 0);
  margin: 0.1rem;
  border-radius: 1px;
  text-align: left;
  max-width: 350px;
}

.btn {
  text-align: center;
  margin: 1em;
  
}

@media only screen and (max-width: 550px) {
  .dirk {
    border: 2px solid black;
    flex-direction: column;
    justify-content: center;
  }

  .dirks {
    border: 2px solid black;
    flex-direction: column;
    justify-content: center;
  }

  p {
    margin: 1rem;
    text-align: center;
    width: 100%;
    padding: 1rem;
    width: 70%;
    margin: 1rem auto;
  }

  .left {
    padding: 1rem;
    margin: 0 auto;
  }

  .buttonsSettinsWrap {
    width: 70%;
  }
}